/* .backgroundcolor {
    background-color: #cecece0c;
    min-height: 100vh; 
} */

.backgroundcolor {
    background-image: url('https://i.pinimg.com/736x/5a/91/39/5a91397d03231daddf0094e04e2834fb.jpg');
    background-size: cover;
    min-height: 100vh; 
}
