.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7b8dc0; 
    color: white;
  }
  
  .button:hover {
    background-color: #343c52;
  }