.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6fb4fe; 
    color: white;
  }
  
  .button:hover {
    background-color: #007bff;
  }

  .container {
    display: flex;
    align-items: center; 
  }
  
  .buttonContainer {
    flex: 1; 
    text-align: center; 
  }

  .pokemonContainer {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adjust as needed */
  }
  
  .pokemonCard {
    cursor: pointer;
  }
  