.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b3b3b32c;
  }
  
  .logo {
    color: #0053ac;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
  }
  
  .searchContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .searchInput {
    padding: 8px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .searchButton {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .actions {
    display: flex;
    align-items: center;
  }
  
  .loginButton {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .usernameButton {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdownContent {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdownContent button:hover {
    background-color: #f0f0f0;
  }
  